<app-navbar></app-navbar>

<mat-card class="card">
  <mat-card-title>O que deseja fazer?</mat-card-title>

  <mat-card-content class="card-content">
    <button class="card-content-button" mat-raised-button color="primary">
      <div class="card-content-button-text">
        Ver exames
        <mat-icon class="card-content-button-text-icon">local_hospital</mat-icon>

      </div>
    </button>
    <button class="card-content-button" mat-raised-button color="primary">
      <div class="card-content-button-text">
        Cadastrar exame
        <mat-icon class="card-content-button-text-icon">content_paste</mat-icon>
      </div>
    </button>

    <button class="card-content-button" mat-raised-button color="primary">
      <div class="card-content-button-text">
        Pesquisar atendimento
        <mat-icon class="card-content-button-text-icon">medical_services</mat-icon>

      </div>
    </button>

    <button class="card-content-button" mat-raised-button color="primary">
      <div class="card-content-button-text">
        Cadastrar atendimento
        <mat-icon class="card-content-button-text-icon">perm_contact_calendar</mat-icon>

      </div>
    </button>
  </mat-card-content>
  <button mat-button color="primary" align="right">Preciso de ajuda</button>
</mat-card>

