
.not-found-card {
    padding: 24px;
    transform: translate(0, 25%);
    left: 25%;
    width: 50%;
}

.card-image {
    margin-left: 10%;
    width:80%;
}

.avatar {
    font-size: 32px;
}

.bold {
    font-weight: 800;
}
