<form [formGroup]="cadastroForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card mat-elevation-z4">

    <div @fadeState class="botao-voltar" [routerLink]="['/login']">
      <button mat-icon-button matTooltip="Voltar" matTooltipPosition="after">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <mat-card-content @fadeState align="center">
      <div class="actions">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Usuário:</mat-label>
          <input matInput placeholder="Digite seu usuário..." formControlName="user">
          <mat-hint align="end">Campo obrigatório*</mat-hint>
          <mat-error *ngIf="cadastroForm.controls['user'].hasError('required')">
            Por favor, digite seu nome de usuário
          </mat-error>
          <mat-error *ngIf="cadastroForm.controls['user'].hasError('email')">
            Seu usuário deve ser um e-mail
          </mat-error>
        </mat-form-field>
        <mat-form-field class="double-width" appearance="outline">
          <mat-label>Nome:</mat-label>
          <input matInput placeholder="Digite seu usuário..." formControlName="nome">
          <mat-hint align="end">Campo obrigatório*</mat-hint>
          <mat-error *ngIf="cadastroForm.controls['nome'].hasError('required')">
            Por favor, digite seu nome
          </mat-error>
        </mat-form-field>
        <mat-form-field class="double-width" appearance="outline">
          <mat-label>Sobrenome:</mat-label>
          <input matInput placeholder="Digite seu usuário..." formControlName="sobreNome">
          <mat-hint align="end">Campo obrigatório*</mat-hint>
          <mat-error *ngIf="cadastroForm.controls['sobreNome'].hasError('required')">
            Por favor, digite seu sobrenome
          </mat-error>
        </mat-form-field>

        <mat-form-field class="double-width" appearance="outline">
          <mat-label>Senha:</mat-label>
          <input matInput type="password" placeholder="Digite sua senha..." formControlName="password">
          <mat-hint align="end">Campo obrigatório*</mat-hint>
          <mat-error *ngIf="cadastroForm.controls['password'].hasError('required')">
            É necessário definir uma senha
          </mat-error>
          <mat-error *ngIf="cadastroForm.controls['password'].hasError('minlength')">
            Sua senha deve ter um mínimo de 8 caracteres
          </mat-error>

        </mat-form-field>
        <mat-form-field class="double-width" appearance="outline">
          <mat-label>Repita a senha:</mat-label>
          <input matInput type="password" placeholder="Repita sua senha..." formControlName="passwordCheck">
          <mat-hint align="end">Campo obrigatório*</mat-hint>
          <mat-error *ngIf="cadastroForm.controls['passwordCheck'].hasError('required') || cadastroForm.controls['passwordCheck'].hasError('passwordCheck')">
            As senhas não são iguais ou não foi preenchida
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="action" align="center" class="buttons">
      <button *ngIf="!loading" [disabled]="cadastroForm.status == 'INVALID'" class="button" mat-raised-button color="primary" type="submit">Cadastrar</button>
      <mat-progress-bar *ngIf="loading" class="loading" mode="indeterminate"></mat-progress-bar>
    </mat-card-actions>
  </mat-card>
</form>
